#prod-header{
    margin-top: 3%;
    text-align: center;
    font-size: 4rem;
}

.product-box{
    background-color: white;
    min-height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10% 0;
}
.container-btn{
    margin-left:3%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.btn{
    position: relative;
    margin: 5% 0;
    border: 1px red;
    outline: none;
    padding: 30px 30px;
    background-color: red;
    cursor: pointer;
    transition: all ease 0.5s;
    z-index: 9;

}
.btn:hover,
.btn.ada{
    border: 1px solid red;
    background-color: white;
    color: red;
    padding: 28px 25px;
}
.btn:before{
    content: '';
    position: absolute;
    top:0;
    width: 100%;
    right: 0;
    opacity: 0.8;
    z-index: -1;
    transition: all ease-out 3s;
    background-color: white;
}
.btn:hover:before{
    right: 110%;
    height: 100%;
}


.addto{
    margin-top: 1%;
    padding: 10%;
    background-color: red;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.container-filter{
    z-index: 10;
    width: 70%;
    overflow: hidden;
}
.filter-box{
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
}
.filter{
    /* background-color: red; */
    border: 1px solid red;
    width: 40%;
    margin: 2%;
    display: none;
    text-align: center;
    /* line-height: 100%; */
    transition: all ease 0.5s;
    padding: 3% 2%;
}
.filter h5{
    margin-bottom: 1%;
}
.filter img{
    width: 100%;
    padding: 3%;
}
.filter:hover{
    background-color:white;
    border: 1px solid red;
    color :red;
    box-shadow: 5px 5px 10px red;
}
.filter:hover img{
    animation: anima 10s ease-out infinite;
    transition: all ease-in-out 0.5s;
}
@keyframes anima {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
}
.review li i{
    color: red;
}
.filter:hover i{
    color: red;
}
#creamcare:hover{
    background-color:black;
}
.filter.colab:hover{
    background-color: black;
}
.review{
    margin: 5%;
    font-size: 1.6rem;
    list-style-type: none;
}
.review li{
    display: inline-block;
}
.review i{
    color: white;
}
.show{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width:800px){
    .product-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container-btn{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 10% 0;
    }
    .btn{
        width: 45%;
        margin: 10px 5px;
        
    }
    .container-filter{
        width: 100%;
    }
    .filter{
        width: 80%;
    }
}